<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>

	<meta charset="utf-8"/> 
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/1.0.0-beta.1/ng-google-chart.min.js" type="text/javascript"/>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" ></script>  
	<script src = "https://cdn.zingchart.com/zingchart.min.js" ></script>  
	<script src = "https://cdn.zingchart.com/angular/zingchart-angularjs.js" ></script> 
 	<style type="text/css">
		.list-group-item:hover{
			color: #337ab7;
			//text-shadow:  0 0 1em #337ab7;
			//font-weight:bold;
			background-color:#337ab7;
			color: #fff;
			cursor: pointer;
		}
		
	</style>
</h:head>


<body ng-app="autoCompleteApp" ng-controller="autoCompleteCtrl" ng-init="initializePage()" >

	<p:layout fullPage="true">
		<p:layoutUnit position="north" gutter="10" style="text-align:right;font:2em bold;min-height:100px;">
	        <span>BANNER SPACE ....</span>
	    </p:layoutUnit>
	    <p:layoutUnit position="west" resizable="true" size="100" minSize="40" maxSize="200"  collapsible="true">
	    		
	    </p:layoutUnit>
	 
	    <p:layoutUnit position="center">
	    	<p:breadCrumb>
    			<p:menuitem value="Home" url="#" />
    			<p:menuitem value="Travel API Mock " url="#" />
	    	</p:breadCrumb>
	        <p:tabView onTabChange="showTabChange(this);">
				<p:tab title="Search flights">
					<div class="container-fluid centering">
						<form id="inputForm">
							<div class="row  col-md-5">
								<div class="col">
									<label>Origin</label>
									<input type="text" name="origin" id="origin" ng-model="origin" placeholder="Select Origin ..." 
										ng-keyup="autoCompleteAirportOrg(origin)" class="form-control"/>
									<ul class="list-group" id="originAutoCompleteList">
										<li class="list-group-item" ng-repeat="airportDataOrg in filterAirportOrg" ng-click="fillOriginTextbox(airportDataOrg)">
											{{airportDataOrg.code+" - "+airportDataOrg.name+","+airportDataOrg.parent.parent.name+" ( "+airportDataOrg.description+" )"}}</li>
									</ul>
								</div>
								
								<div class="col">
									<label>Destination</label>
									<input type="text" name="destination" id="destination" ng-model="destination" placeholder="Select Destination ..." 
										ng-keyup="autoCompleteAirportDest(destination)" class="form-control"/>
									<ul class="list-group" id="destinationAutoCompleteList">
										<li class="list-group-item" ng-repeat="airportDataDest in filterAirportDest" ng-click="fillDestinationTextbox(airportDataDest)">
											{{airportDataDest.code+" - "+airportDataDest.name+","+airportDataDest.parent.parent.name + " ( "+airportDataDest.description+" )"}}</li>
									</ul>
								</div>
								<div class="col">	
									<br/>
									<INPUT type="reset" value="Reset" ng-click="resetForm()"  class="btn btn-primary"/>
									<INPUT type="button" value="View Fare" ng-click="searchFare()" class="btn btn-primary"/>
									<br/>
								</div>	
								<br/>
								<br/>
								<span id="fareQueryResult"></span>
							</div>
						</form>
					</div>
				</p:tab>
				
				<p:tab title="View All Airports" id="viewAllAirportsTab">
					<div>
						<input id="refreshListOfAirports" type="button" style="display:none;" ng-click="fetchListOfAirports()"/>
 						<table  class="table table-striped">
 							<THEAD style="color:#fff;background-color:#000;font-weight:bold;">
 								<td>
 									S.No.
 								</td>
 								<td ng-click="updateOrderByValue('code')" style="cursor: pointer;" title="Click here to Sort by Code">
 									Code
 								</td>
 								<td ng-click="updateOrderByValue('name')" style="cursor: pointer;" title="Click here to Sort by Name">
 									Name
 								</td>
 								<td ng-click="updateOrderByValue('description')" style="cursor: pointer;" title="Click here to Sort by Description">
 									Description
 								</td>
 								<td ng-click="updateOrderByValue('country')" style="cursor: pointer;" title="Click here to Sort by Country">
 									Country
 								</td> 								
 							</THEAD>
 							<TBODY>
 								<tr ng-repeat="airData in airportJSONList.locations | orderBy: orderByIdentifier">
							       <td>
							           	{{ (currentPageNumber-1)* tableSizeListSelector + ($index + 1) }}.
							       </td>
							        <td >
							           {{airData.code}}
							       </td>
							       <td>
							           {{airData.name}}
							       </td>
							       <td>
							           {{airData.description}}
							       </td>    
							       <td>
							           {{airData.parent.parent.description}}
							       </td> 
							   </tr>
 							</TBODY>
 							<TFOOT>
 								<div style="float:left;padding: 5px 0px 10px 0px;" id="paginationFooterDiv">
 									<input type="button" id="firstPageButton" value="&lt;&lt;" ng-click="navigateToFirstPage()" 
 										title="First Page" class="btn btn-primary"/>
 									<input type="button" id="previousPageButton"  value="&lt;"  ng-click="navigateToPreviousPage()" 
 										title="Previous Page" class="btn btn-primary"/>
	 								<span style="padding: 0px 10px 0px 10px;"> 
	 									( Showing Page <strong>{{currentPageNumber}}</strong>  of  <strong> {{airportJSONPageInfo.totalPages}}</strong> ) 
	 								</span>
	 								<input type="button" id="nextPageButton" value="&gt;" ng-click="navigateToNextPage()" 
	 									title="Next Page" class="btn btn-primary"/>
	 								<input type="button" id="lastPageButton" value="&gt;&gt;" ng-click="navigateToLastPage()"  
	 									title="Last Page" class="btn btn-primary"/>
	 								Go to Page : 
	 								<select ng-model="currentPageNumber" ng-options="item as item for item in goToPageList" 
	 									ng-change="jumpToPage()" style="height:30px;">
  									</select>
 								</div>
 								<div style="float:right;padding: 5px 0px 10px 0px;">
 									Page Size :  
 									<select ng-model="tableSizeListSelector"  ng-options="item2 as item2 for item2 in tableSizeList" 
 										ng-change="changePageSize()" style="height:30px;"/>
 								</div> 															
 							</TFOOT>						   
						</table>
       				</div>
				</p:tab>
				
				<p:tab title="Statistics" >
					
					
					<table style="border:0px;width:100%; ">
						<tr>
							<td colspan="2">
								<a href="#" id="refreshMetrics" ng-click="refreshMetrics()" style="color:blue;float:left;">Refresh Chart</a>						
							</td>
						</tr>	
						<tr>
							<td width="70%">
								<div zingchart="zingchart" id="chart-1" zc-json="myBarChardData" zc-width="80%" zc-height="400px"/>							
							</td>
							
							<td  width="30%" >
								
								<span >Average Response Time : <strong>{{avgresponsetime}} ms </strong> </span>
								<br/>
								<span >Min Response Time : <strong>{{minresponsetime}} ms </strong> </span>
								<br/>
								<span >Max Response Time : <strong>{{maxresponsetime}} ms </strong> </span>
															
							</td>
						</tr>
					
					</table>
					
					<p:fieldset legend="Full JSON Response" toggleable="true" toggleSpeed="500" collapsed="true">
				       <textarea style="width:100%; height:200px;">
							{{requestMetricsFullJsonData}}
						</textarea> 
				    </p:fieldset>
				</p:tab>
			</p:tabView>
	    </p:layoutUnit>
	</p:layout>
	<script>
		// <![CDATA[ 
		var app=angular.module("autoCompleteApp",['zingchart-angularjs']);
		app.controller('autoCompleteCtrl',function($scope,$http,$location,$timeout){
			$scope.autoCompleteAirportOrg=function(searchString){
				var output=[];
				if(searchString && searchString.length>2){
					$scope.isRefreshRequired();
					$http({
				        method : "GET",
				      //  url : "/airports?size="+$scope.tableSizeListSelector+"&page=1&term="+searchString+"&access_token="+$scope.access_token
				        url : "/airports?term="+searchString+"&access_token="+$scope.access_token	  
				    }).then(function mySuccess(response) {
						$scope.airportJSONList = response.data._embedded;
						var breakLoop = false;
						angular.forEach($scope.airportJSONList.locations,function(airportsObj){
							if(!breakLoop){
								var airportCode = airportsObj.code;
								var airportName = airportsObj.name;
								var countryName = airportsObj.parent.parent.name;
								var description = airportsObj.description;
								
								if(airportCode.toLowerCase().indexOf(searchString.toLowerCase())>=0 
										|| airportName.toLowerCase().indexOf(searchString.toLowerCase())>=0
										||	countryName.toLowerCase().indexOf(searchString.toLowerCase())>=0
										|| description.toLowerCase().indexOf(searchString.toLowerCase())>=0){
									output.push(airportsObj);
									if(output.length==$scope.listingSize){
										breakLoop = true;
									}
								}
							}
						});
						$scope.filterAirportOrg=output;
				    }, function myError(response) {
				        $scope.apiResponse = response.statusText;
				        $scope.filterAirportOrg= null;
				    });
				}
			}
			
			
			$scope.autoCompleteAirportDest=function(searchString){
				var output=[];
				if(searchString.length>2){
					$scope.isRefreshRequired();
					$http({
				        method : "GET",
				       // url : "/airports?size="+$scope.tableSizeListSelector+"&page=1&term="+searchString+"&access_token="+$scope.access_token
				        url : "/airports?term="+searchString+"&access_token="+$scope.access_token	   
				    }).then(function mySuccess(response) {
						$scope.airportJSONList = response.data._embedded;
						var breakLoop = false;
						angular.forEach($scope.airportJSONList.locations,function(airportsObj){
							if(!breakLoop){
								var airportCode = airportsObj.code;
								var airportName = airportsObj.name;
								var countryName = airportsObj.parent.parent.name;
								var description = airportsObj.description;
								
								if(airportCode.toLowerCase().indexOf(searchString.toLowerCase())>=0 
										|| airportName.toLowerCase().indexOf(searchString.toLowerCase())>=0
										||	countryName.toLowerCase().indexOf(searchString.toLowerCase())>=0
										|| description.toLowerCase().indexOf(searchString.toLowerCase())>=0){
									output.push(airportsObj);
									if(output.length==$scope.listingSize){
										breakLoop = true;
									}
								}
							}
						});
						$scope.filterAirportDest=output;
				    }, function myError(response) {
				        $scope.apiResponse = response.statusText;
				        $scope.filterAirportDest= null;
				    });
				}
			}
			
			$scope.fetchListOfAirports=function(searchString){
				var urlString = "/airports?size="+$scope.tableSizeListSelector+"&page="+$scope.currentPageNumber+"&access_token="+$scope.access_token;
				if(searchString && null!=searchString){
					urlString = urlString +"&term="+searchString;
				}
				
			    $http({
			        method : "GET",
			        url : urlString
			    }).then(function mySuccess(response) {
			    	$scope.airportJSONListWhole = response.data;
			    	$scope.airportJSONList = $scope.airportJSONListWhole._embedded;	
					$scope.goToPageList=[];
					$scope.tableSizeList=[5,10,20];
					$scope.orderByIdentifier = 'name';
					
					$scope.airportJSONPageInfo = $scope.airportJSONListWhole.page;
					for(i=1;i<=$scope.airportJSONPageInfo.totalPages;i++){
						$scope.goToPageList.push(i);
					}
			    }, function myError(response) {
			    	$scope.airportJSONList = null;
			    });
			}
					
			$scope.fillOriginTextbox=function(stringObj){
				$scope.origin="("+stringObj.code+") "+stringObj.name+" , "+stringObj.parent.parent.name;
				$scope.originSelected = stringObj.code
				$scope.filterAirportOrg=null;
			}
			
			$scope.fillDestinationTextbox=function(stringObj){
				$scope.destination="("+stringObj.code+") "+stringObj.name+" , "+stringObj.parent.parent.name;
				$scope.destinationSelected = stringObj.code
				$scope.filterAirportDest=null;
			}
			
			$scope.initializePage=function(string){
				$scope.listingSize = 10;
				$scope.refreshToken();
				$scope.currentPageNumber = 1;
				$scope.tableSizeListSelector = 10;
				document.getElementById('firstPageButton').disabled = true;	
				document.getElementById('previousPageButton').disabled = true;
				
			}
			
			$scope.navigateToNextPage=function(){
				$scope.navigateToPage($scope.currentPageNumber+1,$scope.airportJSONPageInfo.totalPages);
			}
			
			$scope.navigateToPreviousPage=function(){
				$scope.navigateToPage($scope.currentPageNumber-1,$scope.airportJSONPageInfo.totalPages);
			}
			
			$scope.navigateToFirstPage=function(){
				$scope.navigateToPage(1,$scope.airportJSONPageInfo.totalPages);
			}
			
			$scope.navigateToLastPage=function(){
				$scope.navigateToPage($scope.airportJSONPageInfo.totalPages,$scope.airportJSONPageInfo.totalPages);
			}
			
			$scope.jumpToPage=function(){
				$scope.navigateToPage($scope.currentPageNumber,$scope.airportJSONPageInfo.totalPages);
			}
			
			$scope.changePageSize=function(){
				if(($scope.tableSizeListSelector * $scope.airportJSONPageInfo.totalPages) > $scope.airportJSONPageInfo.totalElements){					
					$scope.airportJSONPageInfo.totalPages = Math.ceil( $scope.airportJSONPageInfo.totalElements /  $scope.tableSizeListSelector);
					$scope.currentPageNumber = $scope.airportJSONPageInfo.totalPages;
					for(i=1;i<=$scope.airportJSONPageInfo.totalPages;i++){
						$scope.goToPageList.push(i);
					}
				}
				$scope.jumpToPage();
			}
			$scope.navigateToPage=function(pageNumber, totalSize){
				if(pageNumber < $scope.currentPageNumber){
					if(pageNumber>1){
						document.getElementById('firstPageButton').disabled = false;
						document.getElementById('previousPageButton').disabled = false;
						document.getElementById('lastPageButton').disabled = false;
						document.getElementById('nextPageButton').disabled = false;
					}else{
						document.getElementById('firstPageButton').disabled = true;		
						document.getElementById('previousPageButton').disabled = true;
						document.getElementById('lastPageButton').disabled = false;
						document.getElementById('nextPageButton').disabled = false;
					}
				}else{
					if(pageNumber < totalSize){
						document.getElementById('lastPageButton').disabled = false;
						document.getElementById('nextPageButton').disabled = false;
						if(pageNumber==1){
							document.getElementById('firstPageButton').disabled = true;
							document.getElementById('previousPageButton').disabled = true;
						}else{
							document.getElementById('firstPageButton').disabled = false;
							document.getElementById('previousPageButton').disabled = false;
						}
					}else{
						document.getElementById('lastPageButton').disabled = true;
						document.getElementById('nextPageButton').disabled = true;
						document.getElementById('firstPageButton').disabled = false;
						document.getElementById('previousPageButton').disabled = false;
					}
				}
				$scope.currentPageNumber = pageNumber;
				$scope.fetchListOfAirports();
			}
			
			$scope.updateOrderByValue=function(value){
				$scope.orderByIdentifier = value;
			}
			
			
			$scope.refreshToken=function(){				
				$http({method: 'POST', url: 'http://travel-api-client:psw@'+$location.host() +':'+$location.port()+'/oauth/token?grant_type=client_credentials', headers: {
				    'Authorization': 'Basic dHJhdmVsLWFwaS1jbGllbnQ6cHN3', 'Accept': 'application/json'}
				}).then(function mySuccess(response) {
			    	$scope.access_token = response.data.access_token;
			    	$scope.tokenLastUpdated = new Date();
			    	$scope.populateMetrics();
			    }, function myError(response) {
			        $scope.apiResponse = response.statusText;
			    });
			}
			
			$scope.isRefreshRequired=function(){
				var differenceInMilliSec = new Date() - $scope.tokenLastUpdated;
				if(differenceInMilliSec<=10){
					$timeout(function () {
						$scope.refreshToken();
				    }, differenceInMilliSec);
				}
			}
			
			$scope.resetForm=function(){
				$scope.filterAirportOrg=null;
				$scope.filterAirportDest=null;
				$scope.originSelected = null;
				$scope.destinationSelected = null;
				$scope.fareOutput = null;
				document.getElementById('inputForm').reset();
				document.getElementById('fareQueryResult').innerHTML='';	
			}
			
			$scope.refreshMetrics=function(){
				$scope.isRefreshRequired();
				$scope.populateMetrics();
			}			
			
			$scope.populateMetrics=function(){
				$http({
			        method : "GET",
			        url : "/metrics?access_token="+$scope.access_token
			    }).then(function mySuccess(response) {
			    	$scope.requestMetricsFullJsonData = response.data;
			    	//totalNoOfRequestProcessed
			    	var totalReq = $scope.requestMetricsFullJsonData["totalNoOfRequestProcessed.count"];
			    	if(totalReq){
						$scope.requestMetricsTotalReq = totalReq;			    		
			    	}else{
			    		$scope.requestMetricsTotalReq = 0;
			    	}
			    	var req200 = $scope.requestMetricsFullJsonData["totalNoOf200Request.count"];
			    	if(req200){
			    		$scope.requestMetricsReq200 = req200;		    		
			    	}else{
			    		$scope.requestMetricsReq200 = 0;
			    	}
			    	
			    	var req400 = $scope.requestMetricsFullJsonData["totalNoOf4xxRequestMeter.count"];
			    	if(req400){
			    		$scope.requestMetricsReq400 = req400;		    		
			    	}else{
			    		$scope.requestMetricsReq400 = 0;
			    	}
			    	
			    	var req500 = $scope.requestMetricsFullJsonData["totalNoOf5xxRequestMeter.count"];
			    	if(req500){
			    		$scope.requestMetricsReq500 = req500;		    		
			    	}else{
			    		$scope.requestMetricsReq500 = 0;
			    	}
			    	var avgtime = $scope.requestMetricsFullJsonData["responseTimer.snapshot.mean"];
			    	if(avgtime){
			    		$scope.avgresponsetime = avgtime;		    		
			    	}else{
			    		$scope.avgresponsetime = 0;
			    	}
			    	var mintime = $scope.requestMetricsFullJsonData["responseTimer.snapshot.min"];
			    	if(mintime){
			    		$scope.minresponsetime = mintime;		    		
			    	}else{
			    		$scope.minresponsetime = 0;
			    	}
			    	var maxtime = $scope.requestMetricsFullJsonData["responseTimer.snapshot.max"];
			    	if(maxtime){
			    		$scope.maxresponsetime = maxtime;		    		
			    	}else{
			    		$scope.maxresponsetime = 0;
			    	}
			    	$scope.initBarChart();
			    }, function myError(response) {
			        $scope.apiResponse = response.statusText;
			    });
			}
			
			$scope.initBarChart=function(){
				$scope.myBarChardData = {
					      type : "bar",
					      legend: {},
					      title:{
					        backgroundColor : "transparent",
					        fontColor :"black",
					        text : "API Response Status Chart"
					      },
					      backgroundColor : "white",
					      series : [
					    	 {
					          values : [$scope.requestMetricsTotalReq],
					          text : 'Total requests',
					          backgroundColor : "yellow"
					         
					        },
					        {
					          values : [$scope.requestMetricsReq200],
					          text : 'Total OK response',
					          backgroundColor : "lightgreen"
					         
					        },
					        {
					          values : [$scope.requestMetricsReq400],
					          text : 'Total 4xx response',
					          backgroundColor : "orange"
						    },
						    {
					          values : [$scope.requestMetricsReq500],
					          text : 'Total 5xx response',
					          backgroundColor : "#4DC0CF"
						    }			    
					      ]
					    };
			}
			
			
			$scope.searchFare=function(){
				var fareResultElement = document.getElementById('fareQueryResult');
				fareResultElement.innerHTML = "Querying Result , Please Wait ..... ";
				$scope.isRefreshRequired();
				
				$http({
			        method : "GET",
			        url : "/fares/"+$scope.originSelected+"/"+$scope.destinationSelected+"/?access_token="+$scope.access_token
			    }).then(function mySuccess(response) {
					var continueSearch = true;
					$scope.fareOutput = response.data;
					var result = "The Fare Selected for the Itenary is : <strong>"+$scope.fareOutput.amount+"</strong> "+$scope.fareOutput.currency;
					fareResultElement.innerHTML=result;
					
			    }, function myError(response) {
			    	fareResultElement.innerHTML = "Error Occured while calculating Fare , Response Status : " +response.statusText;
			    });
			}
		});
		
		// ]]>
	
	</script>
	<script>
	
	function showTabChange(obj){
		if(obj!=null){
			var  tabId = obj.panelContainer.context.activeElement.hash;
			var tabTitle = obj.panelContainer.context.activeElement.innerHTML;
			
			if(tabTitle=="View All Airports"){
				document.getElementById('refreshListOfAirports').click();
			}
			if(tabTitle=="Statistics"){
				document.getElementById('refreshMetrics').click();
			}
			if(tabTitle=="Search flights"){
				return false;
			}
		}
	}
	</script>
</body>
</html>
